/* ------------ GENERAL STYLING --------------------- */
.logo {
	text-align: center;
	text-transform: uppercase;
}

body {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

.login_link, .register_link, .profile_link {
	display: block;
}

.read_more_button{
	text-transform: uppercase;
	border-radius: 4px;
	font-size: 12px;
	/*color: black;*/
	transition: all 200ms;
	/*font-weight: 700;*/
	top: -5px;
	position: relative;
}

.read_more_button span {
	font-size: 16px;
}

.read_more_button:hover {
	text-decoration: none;
	/*transition: all 200ms;*/
}

.error {
	color: red;
}
.success{
	color: #00cb4b;
}

input[type="text"], input[type="password"], input[type="submit"], textarea {
	padding: 5px;
}

select {
	padding: 6.5px;
}
/* ------------- INDEX PAGE -----------------------------*/

#index .article_list {
	margin-top: -50px;
}

#index .article_wrapper{
	margin-bottom: 50px;
}

#index .article_wrapper .summary {
	padding-top: 10px;
	padding-bottom: 0px;
}

/* -------------- ARTICLE PAGE ----------------------- */

#article img {
	margin-bottom: 10px;
}

/* ------------- REGISTER PAGE ---------------------- */

#register input {
	width: 48%;
	padding: 5px;
	margin-bottom: 5px;
}

#register input[type="submit"] {
	width: 48%;
	padding: 5px;
	margin-bottom: 5px;
	margin: 0 auto;
}

/* --------------- PROFLE PAGE --------------------*/

#profile .info_text {
	text-align: center;
}

#profile h3 {
	text-transform: uppercase;
	color: black;
	border-bottom: 2px solid;
	padding-bottom: 5px;
}

#profile label {
	margin-right: 20px;
}

#profile input, #profile select {
	display: block;
}

#profile input[type=file]{
	color: transparent;
	max-width: 60px;
	margin-top: 2px;
}

#profile h5 {
	font-weight: bold;
	margin-bottom: 5px;
}

#profile textarea {
	display: block;
	width: 100%;
}

#profile .summary_textarea {
	height: 300px;
	max-height: 50px;
}

#profile .article_textarea {
	height: 300px;
	max-height: 300px;
}

#profile .new_article input[type=submit]{
	margin-top: 10px;
}

#profile .article_wrapper {
	width: 100%;
}

#profile .article_wrapper h4{
	display: inline-block;
	max-width: 78%;
	margin-top: 10px;
	margin-left: 2%;
	font-size: 20px;
}

#profile .article_wrapper img {
	max-width: 18%;
	float: left;
}

#profile .article_wrapper .summary {
	clear: both;
	margin-top: 10px;
}

#profile .article_wrapper hr {
	border-top: 1px solid #b7b2b2;
}

#profile .delete_article {
	display: inline-block;
}

#profile .delete_article input {
	border: none;
	color: red;
	background: none;
}

#profile .edit_account label input {
	padding: 5px;
}
/* -------------- EDIT ARTICLE PAGE ----------------- */
#edit_article label, #edit_article input[type="submit"], #edit_article select {
	display: block;
}
#edit_article textarea, #edit_article input[type="text"] {
	display: block;
	width: 100%;
}

#edit_article .full_text {
	height: 500px;
}

#edit_article img {
	width: 20%;
	margin: 10px 0 10px 0;
}

#edit_article .article_wrapper {
	margin-bottom: 20px;
}
